nav{ 
    background-color: black ;
    position: relative;
float:left;
margin-left: 300px;
padding: 20;
}

/* .btn modal-trigger{
    width: 20%;
} */
#searchTerm {
    width: 20%;
    margin: 10px;
    float: left;    
}
h1{
float: left;
margin-left: 300px;
line-height: 0%;
}
col{
    font-size: 150%;
    padding: 20%;
    word-spacing: 40%;
}

section{
    padding-left: 300px;
}
#music img{ 
    float:right;
    padding-block-end: auto;
    }

body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
      }
      
main {
        flex: 1 0 auto;
}
#footer{

position: absolute;
bottom: 0;
width: 100%;
background-color: black;
color: rgb(247, 217, 48);
padding: 10px;
margin-left: 20%;
} 

*{
    font-family: 'Staatliches', cursive;

}
 #mp {
     padding-top: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    max-width: 100px;
  }

