nav{ 
    background-color: black ;
    position: absolute;
float:left;
/* padding: 20; */
}

/* .btn modal-trigger{

height: 200%;} */
#searchTerm {
    width: 20%;
    margin: 50px;
    padding-top: 2%;
    float: left;    
    /* font-family: 'Damion', cursive; */

}
h2{
float: left;
margin-left: 300px;
line-height: 0%;
font-family: 'Damion', cursive;

}
col{
    font-size: 150%;
    padding: 20%;
    word-spacing: 40%;
}

section{
    padding-left: 327px;
box-sizing: 51%;}
#music img{ 
    float: right;
    width: auto;
}

body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
      }

main {
        flex: 10 auto;
padding-left: 350px;
padding-top: 60px;
}
#footer{
margin-inline-start: 15.5%;
    position: relative;
background-color: black;
color: rgb(247, 217, 48);
padding: 10px;
object-fit: cover ;
} 
h6{
    text-align: center;
}
p{
    text-align: right;
}

*{
    
    font-family: 'Staatliches', cursive;
}
 #mp {
     padding-top: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    max-width: 100px;
  }

